# Archivos y carpetas generados por Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
.venv/
env/

# Configuración de entornos de desarrollo (VS Code / PyCharm)
.vscode/
.idea/

# Archivos de sistema operativo
.DS_Store
Thumbs.db